
.nav-pills{
		margin-left:20px;
		text-indent:20px;
		border-radius:5px;
		border:1px solid black;
		
}
.side{
	border-bottom:1px solid black;
}

.well{
	background-color:#E8E8E8;

}
.price{
	float:right;
	margin-left:120px;
	width:300px;
	margin-top:-50px;
	
}