
.nav-pills{
		margin-left:20px;
		text-indent:20px;
		border-radius:5px;
		border:1px solid black;
		
}
.side{
	border-bottom:1px solid black;
}

.well{
	background-color:#E8E8E8;
	height:100px;

}
.price{
	float:right;
	margin-right:150px;
	
}
.delete{
	margin-right:150px;
	margin-bottom:10px;
	float:right;

}